{% extends "base.html" %}
{% import "_pagination.html" as macros %}

{% block page_content %}
<div class="page-header">
<table class="table table-hover followers">
    <thead><tr><th>User</th><th>Since</th></tr></thead>
    {% for follower in followers %}
    {% if current_user != follower %}
    <tr>
        <td>
            <a href="{{ url_for('main.user', username=follower.user.username) }}">
                <img class="img-rounded" src="{{ follower.user.gravatar(size=40) }}">
                {{ follower.user.username }}
            </a>
        </td>
        <td>
            {{ moment(follower.timestamp).format('L') }}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.followers', username=user.username) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
